:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira sans', sans-serif;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  border: none;
  background-color: #140000;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

input,
button {
  outline: none;
}

#greet-input {
  margin-right: 5px;
}

.row {
  display: flex;
  flex-flow: row;
}

.row-nowrap {
  display: flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column;
}

.column-nowrap {
  display: flex;
  flex-flow: column nowrap;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}

.gap {
  gap: 20px;
}

.page {
  width: 100%;
  padding: 2rem;
  align-items: center;
  gap: 3em;
}

a,
a:visited,
a:active {
  color: #0f0f0f
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a,
  a:visited,
  a:active {
    color: #f6f6f6;
  }

  .icon {
    filter: invert(100%);
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }

  button:active {
    background-color: #0f0f0f69;
  }
}